:root {
  --text-color: #12383a;
  --secondary-text-color: #4d6b6d;
  --text-link-color: #145f63;
  --background-color: #f4f8f8;
  --secondary-background-color: #f1f7f7;
  --primary-color: #145f63;
  --secondary-color: #e2f0f1;

  --brand-950: #0b3032;
  --brand-900: #0f4b4f;
  --brand-800: #12585c;
  --brand-700: #145f63;
  --brand-600: #1c7074;
  --brand-500: #2e8b90;
  --brand-400: #5aaeb2;
  --brand-300: #8fcbce;
  --brand-200: #bee2e4;
  --brand-100: #e2f0f1;
  --brand-50: #f1f7f7;
}

.dark {
  --text-color: #ebf4f4;
  --secondary-text-color: #b4ced0;
  --background-color: #0e1617;
  --secondary-background-color: #132021;
  --text-link-color: #7ebec2;
  --secondary-color: #1b2f31;
  color-scheme: dark;
}
