{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ (printf "%scss/list.css" (.Site.Params.staticPath | default "")) | relURL }}" media="all">
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="container pt-5" id="list-page">
    <h2 class="text-center pb-2">{{.Title}}</h2>
    <div class="row">
        <!-- Coluna dos Posts -->
        <div class="col-lg-9">
            <div class="row">
                {{ range .Paginator.Pages }}
                <div class="col-lg-6 col-md-6 my-3">
                    <div class="card h-100">
                        {{ if and (not (.Site.Params.listPages.disableFeaturedImage | default false)) (.Params.image) }}
                        <div class="card-header">
                            <a href="{{ .RelPermalink }}">
                                <img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Title }}">
                            </a>
                        </div>
                        {{ end }}
                        <div class="card-body bg-transparent p-4 shadow-sm">
                            <a href="{{ .RelPermalink }}" class="primary-font card-title">
                                <h5 class="card-title bg-transparent" title="{{ .Title }}">{{ .Title | truncate 45 }}</h5>
                            </a>
                            <div class="card-text secondary-font">
                                <p>{{ .Summary | truncate 200 }}</p>
                            </div>
                        </div>
                        <div class="mt-auto post-footer bg-transparent py-3">
                            <span class="float-start bg-transparent">{{ .Date | time.Format (":date_long" | default "January 2, 2006") }}</span>
                            <a href="{{ .RelPermalink }}" class="float-end btn btn-outline-info btn-sm">{{ .Site.Params.terms.read | default (i18n "read") }}</a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="row justify-content-center">
                <div class="col-auto m-3">
                    {{template "_internal/pagination.html" . }}
                </div>
            </div>
        </div>
        
        <!-- Sidebar -->
        <div class="col-lg-3 my-3">
            <div id="stickySideBar" class="sticky-sidebar">
                
                <!-- Categorias -->
                {{ if .Site.Taxonomies.categorias }}
                <aside class="tags mb-4">
                    <h5>Categorias</h5>
                    <ul class="list-unstyled">
                        {{ range $name, $taxonomy := .Site.Taxonomies.categorias }}
                        <li class="mb-2">
                            <a href="{{ printf "/categorias/%s" ($name | urlize) | relLangURL }}" class="text-decoration-none">
                                {{ $name | title }}
                            </a>
                            <span class="badge bg-secondary float-end">{{ $taxonomy.Count }}</span>
                        </li>
                        {{ end }}
                    </ul>
                </aside>
                {{ end }}

                <!-- Tags -->
                {{ if .Site.Taxonomies.tags }}
                <aside class="tags mb-4">
                    <h5>Tags</h5>
                    <ul class="tags-ul list-unstyled list-inline">
                        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                        <li class="list-inline-item">
                            <a href="{{ printf "/tags/%s" ($name | urlize) | relLangURL }}" class="btn btn-sm btn-outline-secondary mb-2">
                                {{ $name | title }} <span class="badge bg-light text-dark ms-1">{{ $taxonomy.Count }}</span>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </aside>
                {{ end }}
            </div>
        </div>
    </div>
</div>

<script>
  // To set height of sticky sidebar dynamically
  let stickySideBarElem = document.getElementById("stickySideBar");
  let stickyNavBar = {{ .Site.Params.navbar.stickyNavBar.enable | default false }};
  if(stickyNavBar && stickySideBarElem) {
    let headerElem = document.getElementById("profileHeader");
    if (headerElem) {
        let headerHeight = headerElem.offsetHeight + 15;
        stickySideBarElem.style.top = headerHeight + "px";
    }
  } else if (stickySideBarElem) {
    stickySideBarElem.style.top = "50px";
  }
</script>
{{ end }}
